{{ define "main"}}

<div class="js-toc-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8 pt-3">
                        <h1 id="{{ .Title}}">{{ .Title}}</h1>
                        <hr class="separator">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        {{ .Content}}
                    </div>
                    <div class="col-lg-9 pb-5"> 
                        {{ partial "single-col-list" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ if isset .Params "faq" }}
{{ partial "single-faq" . }}
{{ end }}
</div>

{{ if isset .Params "newsletter" }}
{{ partial "newsletter" (dict "context" . "title" .Page.Params.newsletter) }}
{{end}}

<script src="{{ "/js/scroll-offset.js" | relURL }}"></script>
<script src="{{ .Site.BaseURL }}js/tocbot.min.js"></script>
<script src="{{ .Site.BaseURL }}js/scroll-menu.js"></script>
{{ end }}