{{ define "main"}}
{{ if (not ( isset .Params "hideMenu" ))}}
<div class="sticky-with-menu">
    <div class="container">
        <aside id="toc" class="col-md-3 offset-md-9">
            <h5 class="toc-title">
                On this page
            </h5>
            <div class="js-toc toc">

            </div>
        </aside>
    </div>
</div>
{{end}}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <h1 id="{{ .Title}}">{{ .Title}}</h1>
                    <hr class="separator">
                </div>
                <div class="col-md-2 d-none d-md-inline">
                    {{ if .Params.logo }}
                    <img class="plugin-logo" src="{{ .Params.logo }}">
                    {{ end }}
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-8">
                    {{ if .Params.description }}
                    {{ .Params.description | markdownify }}
                    {{ end }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    {{ .Content}}
                </div>
            </div>
        </div>
    </div>
</div>

{{ if isset .Params "faq" }}
{{ partial "single-faq" . }}
{{ end }}

{{ if isset .Params "newsletter" }}
{{ partial "newsletter" (dict "context" . "title" .Page.Params.newsletter) }}
{{end}}

<script src="{{ "/js/scroll-offset.js" | relURL }}"></script>
<script src="{{ .Site.BaseURL }}js/tocbot.min.js"></script>
<script src="{{ .Site.BaseURL }}js/scroll-menu.js"></script>
{{ end }}