.header-background-home {
  height: 665px;
}

.header-background-home div:first-child {
  padding-top: 6rem;
}

.header-background,
.header-background-home {
  background-image: url('../img/blue-gradient.jpg');
  background-size: cover;
}

.header__title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500;
}

.block-item img {
  width: 50px;
}

.faq-svg {
  width: 25px;
  height: 50px;
  margin: 10px 25px 10px 25px;
}

.msp-app {
  background-color: #f9f9f9;
  margin-top: 100px;
  margin-bottom: 50px;
}

.msp-app-text img {
  height: 35px;
}

.msp-app-text > p:first-of-type {
  margin-top: 20px;
  margin-bottom: 50px;
}

div.msp-app-text {
  padding-top: 50px;
  padding-left: 70px;
}

div.msp-app-text p:last-child {
  color: #999999;
  font-size: 0.8rem;
  padding: 10px;
}

.msp-app__img {
  margin-top: -120px;
  margin-bottom: 0;
  width: 339px;
  height: 515px;
}

.msp-logo-footer {
  width: 250px;
  height: 150px;
}

/*********** FOOTER ***********/

.footer-background {
  background-color: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.footer-list {
  padding-bottom: 30px;
  padding-top: 40px;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list li {
  font-size: 1.4rem;
  padding-left: 2px;
}

.footer-list a:hover {
  text-decoration: none;
  color: #7b7b7b;
}

.footer-list a {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 400;
}

.footer-title-list {
  margin-bottom: 5px;
  text-rendering: optimizelegibility;
  color: #7b7b7b;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
/**********************/

/********* BLOCK  *************/

div.block {
  padding-left: 40px;
  padding-right: 40px;
}

.row.block-item {
  padding: 25px 15px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
  position: relative;
}

.block-item:hover,
.block-faq:hover {
  transition: all 0.2s ease-out;
  box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
  top: -4px;
  text-decoration: none;
}

.block-item .block-item__title:hover,
.block-faq .block-faq__title:hover {
  text-decoration: none;
  color: #232323;
}

.block-item,
.block-faq p {
  color: #000000;
}

.block-item .block-item__title,
.block-faq .block-faq__title {
  color: #232323;
}

.block-faq {
  margin: 0px 25px 25px 0px;
  border-radius: 7px;
  box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
  position: relative;
}

.faq.btn.btn-link {
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}
div.faq-content {
  margin: 10px 75px 10px 75px;
  padding: 0rem 1.1rem 0.5rem 1.1rem;
}
.line {
  margin: 0px 5.85rem 0px 5.85rem;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
}

/********** BREADCRUMB ************/

.breadcrumb > li + li:before {
  padding-left: 5px;
  color: #ccc;
  content: '/\00a0';
}

ol.breadcrumb {
  background-color: transparent;
}

/**********************/

.search-form-input {
  width: 50%;
  height: 50px;
  background: url(/icons/Search.svg) no-repeat scroll 16px 5px;
  padding-left: 50px;
  background-size: 20px 35px;
  background-color: #ffffff;
}

.fa {
  color: #3fa9f5;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  width: 15px;
  margin-right: 15px;
  float: left;
  transition: color 1s ease;
}

#menu-icon {
  color: black;
  -webkit-text-stroke: 2px white;
}

.mm-listitem:after {
  left: 50px;
}

/********** BUTTONS ************/

.primary:hover {
  color: #ffffff;
  text-decoration: none;
}

.secondary:hover {
  text-decoration: none;
  color: inherit;
}

.primary {
  background: #f94f77;
  background-image: linear-gradient(to bottom, #f94f77, #cd3458);
  border-radius: 5px;
  color: #ffffff;
  border: 0px;
  padding: 12px 25px;
}

.secondary {
  color: #000000;
  border: 1px solid #000000;
  padding: 12px;
  border-radius: 5px;
}

/**********************/

.separator {
  content: '';
  width: 40px;
  height: 5px;
  background: #3fa9f5;
  margin-left: 0;
}

/******** LIST ********/

.list-title {
  margin-left: 25px;
}

/******** TOC ********/

.toc {
  overflow-y: auto;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative;
}

.toc > .toc-list li {
  list-style: none;
}

.toc-list {
  margin: 0;
  padding-left: 10px;
}

a.toc-link {
  color: currentColor;
  height: 100%;
}

.toc-title {
  font-size: 18px;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
  position: fixed !important;
  top: 0;
}

.is-active-link {
  font-size: 16px;
  font-weight: 500;
}

.toc-link.node-name--H1.is-active-link {
  color: #008dcb;
}

.toc-link::before {
  background-color: #eee;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}

.is-active-link::before {
  background-color: #3fa9f5;
}

.sticky-top {
  height: 20px;
}

/**********************/

img.plugin-logo {
  margin: 0rem 1rem 0rem 5rem;
  width: 4.5rem;
}

img.magento-certimage {
  margin-left: 5rem;
}

/********* NEWSLETTER  *************/

.newsletter {
  background-image: url('../img/blue-gradient.jpg');
  background-size: cover;
  height: 300px;
}

.newsletter div.container,
.newsletter div.container .row {
  height: 100%;
}

.newsletter input.newsletter-input {
  width: 70%;
}

@media only screen and (max-width: 968px) {
  .newsletter input.newsletter-input {
    width: auto;
  }
}

.newsletter .newsletter-input {
  border-radius: 6px 0 0 6px;
}

.newsletter input.primary {
  border-radius: 0 6px 6px 0;
}

.newsletter input {
  height: 50px;
}

.newsletter-text {
  padding-right: 10%;
}

/********* NEWSLETTER  *************/
.changelog {
  background-color: #f9f9f9;
}

/********* NAVBAR  *************/

.navbar a:hover {
  color: #ffffff;
}

.navbar a.login {
  border-radius: 3px;
  padding-left: 2rem !important;
  margin-left: 1rem;
  background-image: url(/icons/Login.svg);
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-position: 10px 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.menu-buttons {
  padding: 20px;
  background-color: #f9f9f9;
}
.menu-buttons a {
  margin: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.menu-buttons .outline {
  border: 1px solid #f94f77;
}

.menu-buttons a:last-child {
  border: 1px solid #f94f77;
  background-image: url(/icons/Login.svg);
  background-size: 50px 17px;
  background-repeat: no-repeat;
  background-position: 10px 11px;
  background-clip: padding-box;
}

/********* SEARCH RESULT  *************/

.search-results {
  width: 40%;
  margin-left: 5%;
  padding: 5px
}

.search-results a {
  color: #000000;
  font-size: 0.9rem;
}

.search-results a:hover {
  text-decoration: none;
}

.search-results a:before {
  content: "-";
  padding: 0 5px;
  text-align: left;
}

.search-results div:first-child {
  padding-top: 0;
}

.search-results div[role='option'] {
  padding: 2px;
  margin-left: 22px;
}

/********* BOTTOM BLOCK LANG  *************/

.tabs {
  margin-bottom: 0px;
  padding-left: 20px;
}

.tabs button.outline {
  border-color: #ffffff;
}

/* Create an active/current tablink class */
button.outline.active {
  border-bottom: 2px solid #ff3366;
}

/* Style the tab content */
.tabcontent {
  padding-left: 20px;
  display: none;
}

.other-lang {
  display: block;
}
.other-lang p {
  margin: 10px 0;
  display: block;
}

.edit-page:hover {
  text-decoration: none;
  color: #1c86f2;
}
.edit-page {
  border: 2px solid #a9a9a9;
  padding: 10px 21px;
  border-radius: 5px;
  color: #353535;
}
