.header-background {
  background-image: url('../img/blue-gradient.jpg');
  background-size: cover;
  height: 665px;
}

.header__title {
  color: white;
}

.integrations__svg, .faq-svg {
  width: 50px;
  height: 50px;
}

.msp-app {
  background-color: #f9f9f9;
  margin-top: 200px;
  margin-bottom: 50px;
}

.msp-app__img {
  margin-top: -120px;
  margin-bottom: 0;
}

.msp-logo-footer {
  width: 250px;
  height: 150px;
}

/*********** FOOTER ***********/

.footer-background {
  background-color: #f9f9f9;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.footer-list {
  padding-bottom: 30px;
  padding-top: 40px;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list li {
  font-size: 1.4rem;
  padding-left: 2px;
}

.footer-list a:hover {
  text-decoration: none;
  color: #7b7b7b;
}

.footer-list a {
  color: #7b7b7b;
}

.footer-title-list {
  margin-bottom: 5px;
  text-rendering: optimizelegibility;
  color: #7b7b7b;
  font-size: 2rem;
  line-height: 29px;
}

/**********************/

.breadcrumb>li+li:before {
  padding-left: 5px;
  color: #ccc;
  content: "/\00a0";
}

ol.breadcrumb {
  background-color: transparent;
  content: "/\00a0";
}