/********** VARS ************/

:root {
  --mm-sidebar-collapsed-size: 60px !important;
  --mm-iconbar-size:0 !important;
  --mm-sidebar-expanded-size: 350px;
  --navbar-height: 76px;
}

/**********************/

.header-background-home {
    height: 665px;
}

.header-background-home div:first-child {
    padding-top: 6rem;
}

.header-background, .header-background-home {
    background-image: url('../img/blue-gradient.jpg');
    background-size: cover;
}

.header__title {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
}

.block-item img {
    width: 50px;
}

.faq-svg {
    width: 25px;
    height: 50px;
    margin: 0 15px;
}

.msp-app {
    background-color: #f9f9f9;
    margin-top: 100px;
    margin-bottom: 50px;
}

.msp-app-text img {
    height: 35px;
}

.msp-app-text>p:first-of-type {
    margin-top: 20px;
    margin-bottom: 50px;
}

div.msp-app-text {
    padding-top: 50px;
    padding-left: 70px;
}

div.msp-app-text p:last-child {
    color: #999999;
    font-size: 0.8rem;
    padding: 10px;
}

.msp-app__img {
    margin-top: -120px;
    margin-bottom: 0;
    width: 339px;
    height: 515px;
}

.msp-logo-footer {
    width: 250px;
    height: 150px;
}

/*********** FOOTER ***********/

.footer-background {
    background-color: #f9f9f9;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.footer-list {
    padding-bottom: 30px;
    padding-top: 40px;
}

.footer-list ul {
    list-style-type: none;
}

.footer-list li {
    font-size: 1.4rem;
    padding-left: 2px;
}

.footer-list a:hover {
    text-decoration: none;
    color: #7b7b7b;
}

.footer-list a {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
}

.footer-title-list {
    margin-bottom: 5px;
    text-rendering: optimizelegibility;
    color: #7b7b7b;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

/**********************/

/********* BLOCK  *************/

div.block {
    padding-left: 40px;
    padding-right: 40px;
}

.row .block-item {
    border-radius: 7px;
    box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
}

.block-item-buttons {
    display: flex;
    flex-direction: row;
}

.block-item-text {
    height: 74px;
    /* lines height * 3 */
}

.remove-decoration {
    text-decoration: none;
    color: initial;
}

.block-item:hover, .block-faq:hover {
    transition: all 0.2s ease-out;
    box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
    transform: translateY(-0.2rem);
    text-decoration: none;
}

.block-item .block-item__title:hover, .block-faq .block-faq__title:hover {
    text-decoration: none;
    color: #232323;
}

.block-item, .block-faq p {
    color: #000000;
}

.block-item .block-item__title, .block-faq .block-faq__title {
    color: #232323;
}

.block-faq {
    border-radius: 7px;
    box-shadow: 1.6px 3px 11px rgb(0, 0, 0, 30%);
    position: relative;
}

.faq.btn.btn-link {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.line {
    border-bottom: 1px solid #b3b3b3;
}

/********** FAQ ************/

.faq-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.faq-content {
    margin-right: 50px;
}

.faq-content p {
    margin: 0;
}

/**********************/

/********** BREADCRUMB ************/

.breadcrumb>li+li:before {
    padding-left: 5px;
    color: #ccc;
    content: '/\00a0';
}

ol.breadcrumb {
    background-color: transparent;
}

/**********************/

.mm-searchfield__input {
  margin: 0 10px;
}

.mm-searchfield input {
  background: url(/icons/Search.svg) no-repeat scroll 16px 5px;
  padding-left: 50px;
  height: 50px;
  background-size: 20px 35px;
  background-color: #ffffff;
  border: 1px solid red;
}

.mm-navbars_top * {
  background-color: #f9f9f9;
  padding: 5px 0;
}

.search-form-input {
    width: 50%;
    height: 50px;
    background: url(/icons/Search.svg) no-repeat scroll 16px 5px;
    padding-left: 50px;
    background-size: 20px 35px;
    background-color: #ffffff;
}

.fa {
    color: #3fa9f5;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    width: 15px;
    margin-right: 15px;
    float: left;
    transition: color 1s ease;
}

#menu-icon {
    color: black;
    -webkit-text-stroke: 2px white;
}

#mm-0 .mm-listitem:after, #mm-1 .mm-listitem:after {
    left: 0;
}
.mm-listitem:after {
    left: 60px;
}

.mm-navbars_top>.mm-navbar:last-child {
    color: #3fa9f5;
    font-weight: bold;
}

.mm-btn_next:after, .mm-btn_prev:before {
    border-color: #3fa9f5;
}

.mm-navbars_top>.mm-navbar:nth-last-child(2) {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mm-navbar__breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/********** BUTTONS ************/

.primary:hover {
    color: #ffffff;
    text-decoration: none;
}

.secondary:hover {
    text-decoration: none;
    color: inherit;
}

.primary {
    background: #f94f77;
    background-image: linear-gradient(to bottom, #f94f77, #cd3458);
    border-radius: 5px;
    color: #ffffff;
    border: 0px;
    padding: 12px 25px;
}

.secondary {
    color: #000000;
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 5px;
}

/**********************/

.separator {
    content: '';
    width: 40px;
    height: 5px;
    background: #3fa9f5;
    margin-left: 0;
}

/******** LIST ********/

/******** TOC ********/

.toc {
    overflow-y: auto;
}

.toc>.toc-list {
    overflow: hidden;
    position: relative;
}

.toc>.toc-list li {
    list-style: none;
}


a.toc-link {
    color: currentColor;
    height: 100%;
}

.toc-title {
    font-size: 18px;
}

.is-collapsible {
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    font-size: 16px;
    font-weight: 500;
}

.toc-link.node-name--H1.is-active-link {
    color: #008dcb;
}

.toc-link::before {
    background-color: #eee;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
}

.is-active-link::before {
    background-color: #3fa9f5;
}

/**********************/

img.plugin-logo {
    margin: 0rem 1rem 0rem 5rem;
    width: 4.5rem;
}

img.magento-certimage {
    margin-left: 5rem;
}

/********* NEWSLETTER  *************/

.newsletter {
    background-image: url('../img/blue-gradient.jpg');
    background-size: cover;
    height: 300px;
}

.newsletter div.container, .newsletter div.container .row {
    height: 100%;
}

.newsletter input.newsletter-input {
    width: 70%;
}

@media only screen and (max-width: 968px) {
    .newsletter input.newsletter-input {
        width: auto;
    }
}

.newsletter .newsletter-input {
    border-radius: 6px 0 0 6px;
}

.newsletter input.primary {
    border-radius: 0 6px 6px 0;
}

.newsletter input {
    height: 50px;
}

.newsletter-text {
    padding-right: 10%;
}

@media (min-width: 1200px) {
    #page {
        transition: none;
    }
}

/********* NEWSLETTER  *************/

.changelog {
    background-color: #f9f9f9;
}

/********* NAVBAR  *************/

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 76px;
}

.navbar a:hover {
    color: #ffffff;
}

.navbar a.login {
    border-radius: 3px;
    padding-left: 2rem !important;
    padding-right: 0.5rem !important;
    margin-left: 1rem;
    background-image: url(/icons/Login.svg);
    background-size: 12px 16px;
    background-repeat: no-repeat;
    background-position: 10px 11px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
}

@media screen and (min-width: 768px) {
    nav>ul.navbar-nav.ml-auto {
        display: flex;
        flex-direction: row;
    }
    a.navbar-brand>img {
        width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    #docs-logo, #hamburger {
        display: none;
    }
}

.mm-navbar>.navbar-brand {
    padding: 15px 0;
}

.navbar-brand>img {
    width: 200px;
}

ul.navbar-nav.ml-auto {
    display: none;
}

#docs-logo {
    width: 200px;
    padding: 0 16px;
}

.menu-buttons {
    padding: 20px;
    background-color: #f9f9f9;
}

.menu-buttons a {
    margin: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.menu-buttons .outline {
    border: 1px solid #f94f77;
}

.menu-buttons a:last-child {
    border: 1px solid #f94f77;
    background-image: url(/icons/Login.svg);
    background-size: 50px 17px;
    background-repeat: no-repeat;
    background-position: 0 11px;
    background-clip: padding-box;
}

.mm-panel_iconpanel-first .fa {
    color: #3fa9f5;
    width: 20px;
    margin-right: 20px;
}

.mm-navbars_top>.mm-navbar {
    background-color: #f9f9f9;
    padding: 0 5px;
}

.mm-panels {
    background-color: white;
}

.mm-searchfield, .mm-searchfield input {
    height: 50px;
}

.mm-searchfield input {
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.mm-searchfield input {
    color: #232323;
    font-weight: 400;
    size: 16px;
}

.mm-searchfield input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A0A0A0;
    font-weight: 400;
    size: 16px;
}

/********* SEARCH RESULT  *************/

.search-results {
    width: 40%;
    margin-left: 5%;
    padding: 5px;
}

.search-results a {
    color: #000000;
    font-size: 0.9rem;
}

.search-results a:hover {
    text-decoration: none;
}

.search-results a:before {
    content: '-';
    padding: 0 5px;
    text-align: left;
}

.search-results div:first-child {
    padding-top: 0;
}

.search-results div[role='option'] {
    padding: 2px;
    margin-left: 22px;
}

/********* BOTTOM BLOCK LANG  *************/

.tabs {
    margin-bottom: 0px;
    padding-left: 20px;
}

.tabs button.outline {
    border-color: #ffffff;
}

.globe {
    filter: invert(55%) sepia(45%) saturate(1111%) hue-rotate(177deg) brightness(101%) contrast(92%);
    margin-bottom: 3px;
}

.other-lang {
    display: block;
}

.other-lang p {
    margin: 10px 0;
    display: block;
}

/* intergration manual layout*/

.manual h2, .manual h3, .manual  h4 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.manual .content>pre {
    background-color: #f9f9f9;
    padding-bottom: 30px;
    padding-top: 30px;
}

.manual .content>pre code {
    display: block;
}

.manual ul {
    list-style-position: inside;
    padding-right: 45px;
    padding-left: 45px;
}

.manual ol li {
    padding-left: 15px;
}

.manual .content>*:not(pre), .manual .content>pre code {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media (min-width: 576px) {
    .manual .content>*:not(pre), .manual .content>pre code {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .manual .content>*:not(pre), .manual .content>pre code {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .manual .content>*:not(pre), .manual .content>pre code {
        max-width: 960px;
        padding-right: 90px;
        padding-left: 90px;
    }
    .manual .content ul, .manual .content ol {
        padding-right: 105px;
        padding-left: 105px;
    }
}

@media (min-width: 1200px) {
    .manual .content>*:not(pre), .manual .content>pre code {
        max-width: 1140px;
    }
}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
  transition: all 0.2s ease-out;
}
  
/*** page shadow ***/
#page::before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  right: 100%;
  z-index: 100;
  clip-path: polygon(30px 0, 30px 100%, 19px 100%, 19px 0);
}

body, html {
  margin: 0;
  padding: 0;
}

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  height: var(--navbar-height);
}

div.sticky-with-menu {
  top: calc(var(--navbar-height) + 15px);
  z-index: 0;
  height: 25px;
  position: sticky;
  display: none;
}

@media screen and (min-width: 768px) {
  div.sticky-with-menu {
    display: block;
  }
}

.js-toc-content h1::before, .js-toc-content h2::before, .js-toc-content h3::before, .js-toc-content h4::before, .js-toc-content h5::before, .js-toc-content h6::before {
  display: block;
  content: " ";
  height: var(--navbar-height);
  margin-top: calc(var(--navbar-height) * -1);
  visibility: hidden;
}

.js-toc-content {
  margin-top: -1.5rem;
}
.mm-menu_iconpanel .mm-panels > .mm-panel:not(.mm-panel_iconpanel-first):not(.mm-panel_iconpanel-0) {
    left: var(--mm-sidebar-collapsed-size)
}

.mm-panel_opened-parent .mm-panel__blocker {
    opacity: 0.0 !important;
}

.manual-code {
	width: 100%;
    display: block;
    background-color: #f9f9f9;
}

.manual-code code, .manual-code pre {
    margin: 0;
}

.manual ul, .manual ol {
    padding: 0 1rem;
}