{{ define "main"}}
<div class="sticky-with-menu">
    <div class="container">
        <aside id="toc" class="col-md-3 offset-md-9">
            <h5 class="toc-title">
                On this page
            </h5>
            <div class="js-toc toc">

            </div>
        </aside>
    </div>
</div>

<div class="js-toc-content">
    <section class="manual pb-3">

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-8">
                        <h1 id="{{ .Title}}">{{ .Title}}</h1>
                        <hr class="separator">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <div class="row">
        {{ partial "edit-page" . }}
        {{ partial "bottom-block" . }}
    </div>
</div>

<script src="{{ .Site.BaseURL }}js/tocbot.min.js"></script>
<script src="{{ .Site.BaseURL }}js/scroll-menu.js"></script>
{{ end }}