{{ define "main"}}
<div class="container">
  <div>
    <h1>{{ .Title }}</h1>
    <hr class="separator">
    <p>{{ .Params.description_short}}</p>
    {{ .Content }}
  </div>
  <section>
    <div id="accordion" class="row">
      {{ range.Pages.ByWeight }}
      <div class="col-lg-6 pb-4">
        <div class="block-faq py-3 px-4">
          <div id="heading-{{ .Title | anchorize}}">
            <div class="mb-0 faq-title-block" data-toggle="collapse" data-target="#{{ .Title | anchorize}}"
              aria-expanded="true" aria-controls="{{ .Title | anchorize}}">
              <img class="faq-svg" src="/svgs/Arrow.svg" />
              <b class="px-3">{{ .Title }}</b>
            </div>
          </div>

          <div id="{{ .Title | anchorize}}" class="collapse faq-content" aria-labelledby="heading-{{ .Title | anchorize}}"
            data-parent="#accordion">
            <div class="mx-3 line"></div>
            <div class="p-3">
              {{ .Content | truncate 400}}
            </div>
            {{ if isset .Params "read_more" }}
            <div class="p-3">
              {{if gt (len .Content) 400 }}
                <a href="{{ .Permalink }}" class="primary text-white mb-1">Read More</a>
              {{ else }}
                <a href="{{ .Permalink }}"><img id="direct-link" src="/svgs/Direct link.svg" /></a>
              {{end}}
              
            </div>
            {{end}}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>
</div>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
    faqArrowAnimation();
  });
</script>
{{ end }}