{{ define "main"}}
<div class="container">
    <div class="row">
        <div class="col-md-12 list-title">
            <h1>{{ .Title }}</h1>
            <hr class="separator">
            <p> {{ .Content }} </p>
        </div>
    </div>
    <div class="row pb-5">
        {{ $tiles := .Params.data }} {{ range $section := $tiles }}
        <div class="col-md-6 mb-3">
                <div class="block-item h-100 p-4">
                    <div class="row h-100">
                        <div class="col-md-2 d-flex align-items-start justify-content-center order-md-2">
                            {{ with $section.logo }}
                            <img class="img-fluid" src="{{ . }}" />
                            {{ end }}
                        </div>
                        <div class="col-md-10 order-md-1">
                            <h3>{{ $section.title }}</h3>
                            <div class="block-item-text">
                                <p>{{ $section.description }}</p>
                            </div>
                            <div class="block-item-buttons pt-2">
                                <a class="secondary" href="{{ .url }}">more info</a>
                                <a class="primary ml-4" href="{{ . }}">download</a>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}