{{ define "main"}}
<div class="container">
    <div class="row">
        <div class="col-md-12 list-title">
            <h1>{{ .Title }}</h1>
            <hr class="separator">
            <p> {{ .Content }} </p>
        </div>
    </div>
    <div class="row pb-5">
        {{ range .Sections }}
        {{ if ne .Params.tags "hidden"}}
        <a class="col-md-4 col-sm-6 my-3 no-decoration" href="{{ .Permalink }}" >
       		<div class="block-item py-4">
               	<div class="row">
                {{ with .Params.logo }}
             		<img class="img-fluid mx-auto" style="width: 75px" src="{{ . }}" />
                {{ end }}
          		</div>
         	    <div class="row py-4">
       		       	<h4 class="mx-auto">{{ .Params.title_short }}</h3>
                </div>
			</div>
		</a>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
