{{ define "main"}}
  <div class="container">
    <div class="row">
      <div class="col-10">
        <div class="row">
            <div class="col-8">
          <h1>{{ .Title}}</h1>
          <hr class="separator">
            </div>
            <div class = "col-2">
                {{ if .Params.logo }}
                <img class="plugin-logo" src="{{ .Params.logo }}">
                {{ end }}
            </div>
        </div>
          <div class="row"> 
              <div class="col-8">
                  {{ if .Params.description }}
                  {{ .Params.description }}
                  {{ end }}
                  {{ if or (isset .Params "github_url") (isset .Params "download_url") }}
                  <div class="row py-5">
                    <div class="col">
                        {{ if isset .Params "github_url"}}
                        <a class="secondary mr-3" href="">View on Github</a>
                        {{ end }}
                        {{ if isset .Params "download_url" }}
                        <a class="primary" href="">download</a>
                        {{ end }}
                    </div>
                  </div>
                  {{ end }}
              </div>
              <div class = "col-2">
                  {{ if .Params.magento_image }}
                  <img class ="magento-certimage" src="{{ .Params.magento_image }}" alt= "{{ .Params.magento_image_alt }}" >
                  {{ end }}
              </div>
            </div>
        <div class="row">
        <div class="col-10 js-toc-content">
          {{ .Content}}
        </div>
      </div>
      </div>
        <div class="col-2 sticky-top">
          <aside id="toc">
            <h5 class="toc-title"> 
             On this page
            </h5>
            <div class="js-toc toc">
  
            </div>
          </aside>
        </div>
        </div>
        {{ if or (eq .Section "faq") (eq .Section "tools") }}
          {{ partial "edit-page" . }}
          {{ partial "bottom-block" . }}
        {{ end }}
    </div>
    {{ if isset .Params "manual" }}
      {{ partial "manual" . }}
    {{ end }}

    {{ if isset .Params "changelog" }}
      {{ partial "changelog" (dict "title" .Page.Params.newsletter "changelog" .Params.changelog ) }}
    {{ end }}

    {{ if isset .Params "faq" }}
      {{ partial "single-faq" . }}
    {{ end }}

    {{ if isset .Params "newsletter" }}
      {{ partial "newsletter" (dict "context" . "title" .Page.Params.newsletter) }}
    {{end}}
    
    <script src="{{ "/js/tocbot.min.js" | relURL }}"></script>
    <script src="{{ "/js/scroll-menu.js" | relURL }}" type="text/javascript">
    </script>
{{ end }}

