{{ define "main"}}
<div class="sticky-with-menu">
    <div class="container">
        <aside id="toc" class="col-md-3 offset-md-9">
            <h5 class="toc-title">
                On this page
            </h5>
            <div class="js-toc toc">

            </div>
        </aside>
    </div>
</div>
<div class="js-toc-content">
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-8">
                    <h1 id="{{ .Title}}">{{ .Title}}</h1>
                    <hr class="separator">
                </div>
                <div class="col-2">
                    {{ if .Params.logo }}
                    <img class="plugin-logo" src="{{ .Params.logo }}">
                    {{ end }}
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-8">
                    {{ if .Params.description }}
                    {{ .Params.description | markdownify }}
                    {{ end }}
                    {{ if or (isset .Params "github_url") (isset .Params "download_url") }}
                    <div class="row pt-5 pb-5">
                        <div class="col small-vertical">
                            {{ if isset .Params "github_url"}}
                            <a class="secondary" href="{{.Params.github_url}}">View on Github</a>
                            {{ end }}
                            {{ if isset .Params "download_url" }}
                            <a class="primary download-button" href="{{.Params.download_url}}">Download</a>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="col-2">
                    {{ if .Params.magento_image }}
                    <img class="magento-certimage" src="{{ .Params.magento_image }}"
                        alt="{{ .Params.magento_image_alt }}">
                    {{ end }}
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    {{ .Content}}
                </div>
            </div>
        </div>
    </div>
    {{ if or (eq .Section "faq") (eq .Section "tools") }}
    {{ partial "edit-page" . }}
    {{ partial "bottom-block" . }}
    {{ end }}
</div>
{{ if isset .Params "manual" }}
      {{ partial "manual" . }}
{{ end }}

{{ if isset .Params "changelog" }}
{{ partial "changelog" (dict "title" .Page.Params.newsletter "changelog" .Params.changelog ) }}
{{ end }}

{{ if isset .Params "faq" }}
{{ partial "single-faq" . }}
{{ end }}
</div>

{{ if isset .Params "newsletter" }}
{{ partial "newsletter" (dict "context" . "title" .Page.Params.newsletter) }}
{{end}}

<script src="{{ .Site.BaseURL }}js/tocbot.min.js"></script>
<script src="{{ .Site.BaseURL }}js/scroll-menu.js"></script>
{{ end }}