{{ define "main"}}
<div id="main" class="faq">
  <div id="hero">
    <h1>{{ .Title }}</h1>
  </div>
  {{ if .Sections }}
  {{ $numberOfSections := len .Sections }}
  {{ $sectionDivisor := math.Ceil (div $numberOfSections 2.0) }}
  <div class="container">
      {{ range $index, $section := .Sections }}
        {{ if modBool $index $sectionDivisor }}<div class="col-sm-6">{{ end}}
          <h3>{{ .Title }}</h3>
          <ul>
              {{ range .Pages }}
              <li><a id="{{ .Title | urlize}}" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
          </ul>
        {{ if modBool (add $index 1) $sectionDivisor }}</div>{{ end}}
      {{ end }}
  </div>
  {{ end }}
  {{ if .Pages }}
  <div class="container">
          <ul>
              {{ range .Pages }}
              <li><a id="{{ .Title | urlize}}" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
          </ul>
  </div>
  {{ end }}
</div>
{{ end }}