{{ define "main"}}
{{ $tilesections := .Params.tilesections }}
<div class="sticky-menu">
    <div class="js-toc toc">
    </div>
</div>
<div id="main" class="payment-methods">
    <div id="hero">
        <h1>{{ .Title }}</h1>
    </div>
    <div id="components" class="scrollable js-toc-content">
        {{ range $i, $section := $tilesections }}
        <section class="payment-methods">
        <h1 class="payment-method-header" id="{{ with $section.name}}{{.}}{{end}}"> {{ with $section.header}}{{.}}{{end}} </h1>

        {{ with $section.tiles}}
        <div class="row gutters">
            {{ range $y, $tile := $section.tiles }}
            <div class="col col-4 item payment-method">
                {{ with $tile.url }}<h4><a href="{{ . }}">{{ end }}{{ .Title }}</h4>
                {{ with $tile.logo }}<h2><div class="payment-method-img"><img src="{{ . }}" width="190c" class="fa fa-{{ . }}"></div></h2>{{ end }}
                <h3>{{ $tile.title }}</h3>
                </a>
            </div>
            {{ end }}
        </div>
        {{end}}
        {{ end }}
    </section>
    </div>
</div>
<div class="page-filler-bottom">
</div>
<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1',
        listClass: 'toc-list-h',
        listItemClass: 'toc-list-item-h',
        activeLinkClass: 'active-link',
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
{{ end }}