<div class="row mb-2">
    <div class="col-lg-3 px-5 mb-5 order-lg-2 ml-auto">
        <div class="">
            <a href="{{ with .GetPage "user-guide" }}{{ .Permalink}}{{ end }}" style="font-size: 1.4rem" class="bg-dark-msp-blue text-white row block-item p-3 no-decoration justify-content-center">
            Read more about {{ .Params.user_guide_title }}
            </a>
        </div>
    </div>
    <div class="col-lg-6 mb-2 order-lg-1">
        {{ .Params.intro_description }}
    </div>
</div>
