<div class="container pt-3 pb-5">
{{ $tiles := .Params.data }}
    <div class="row pb-5">
      {{ range $i, $section := $tiles }}
      <div class="col-md-6 ">
        <a  href="{{ $section.url }}" class="row block-item my-3 mx-1 p-4">
          <div class="col-8">
            {{ with $section.url }}
            <div class="block-item__title"
              >{{ end }}{{ .Title }}
              <h4 class="text-dark">{{ $section.title }}</h4>
              <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
              </p>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            {{ with $section.logo }}<img src="{{ . }}" class="img-fluid" alt="{{ $section.title }}"/> {{ end }}
          </div>
        </a>
      </div>
      {{ end }}
      </div>
    </div>