<div class="pb-4 pt-4 ">
  <div class="row content  pt-2 m-1">
    <div class="col-12 text-nor">
      <p>
        <img class="mr-2 globe " src="/svgs/globe.svg" width="20" />Other languages
      </p>
      <p>
        <img class="mr-1" src="/flags/nl.svg" width="20" /> <img class="mr-1" src="/flags/it.svg" width="20" /> <img class="mr-1" src="/flags/de.svg" width="20" /> <img class="mr-1" src="/flags/es.svg" width="20" /> <img class="mr-1" src="/flags/fr.svg" width="20" /> </p>
      <p>For an explanation in another language, contact your account manager.</p>
    </div>
  </div>

