<div class="pb-4 pt-4 ">
  <div class="row content  pt-2 m-1">
    <div class="col-12 text-nor border-bottom">
      <p>
        <img class="mr-2 globe " src="/svgs/globe.svg" width="20" />Other languages
      </p>
    </div>
  </div>

  <section id="Support" class="other-lang">
    <div class="row content m-1 pt-2">
      <div class="col-12 text-nor border-bottom">
        <p>
          <img class="mr-1" src="/flags/nl.svg" width="20" /> Liever uitleg in
          het Nederlands? Neem contact op met uw accountmanager.
        </p>
      </div>
      <div class="col-12 text-nor border-bottom">
        <p>
          <img class="mr-1" src="/flags/it.svg" width="20" /> Vuoi ricevere
          informazioni in italiano? Contatta il tuo account manager.
        </p>
      </div>
      <div class="col-12 text-nor border-bottom">
        <p>
          <img class="mr-1" src="/flags/es.svg" width="20" /> Prefieres tener la
          explicación en Español? Contacta con tu gerente de cuentas.
        </p>
      </div>
      <div class="col-12 text-fr  border-bottom">
        <p>
          <img class="mr-1" src="/flags/fr.svg" width="20" /> Vous préférez une
          explication en français? Contactez votre gestionnaire de compte.
        </p>
      </div>
    </div>
  </section>
</div>
