<section id="buttons">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-9">
                <h2 id="button-title">{{ .Param "buttons_under_text" }}</h2>
                <div id="accordion" class="row pt-4">
                    {{ range .Pages}}
                    <div class="col-lg-6 pb-4">
                        <div class="block-faq py-3 px-4">
                            <a class="row no-decoration" id="heading-{{ .Title | anchorize}}" href="{{ .Permalink }}">
                                
                              <div class="col-2 d-flex ml-3">
                                  {{ with .Params.logo }}
                                  <img class="m-3" style="width: 50px; height: 40px" src="{{ . }}" />
                                  {{ end }}
                                </div>
                                <div class="col-8 my-auto">
                                  <p class="px-3 ml-3 my-auto" style="font-weight: 600; font-size: 1.8rem;">{{ .Title }}</b>
                                </div>
                                <div class="row px-5">
                                  <p class="row pt-4 px-5">
                                    {{ .Param "short_description"}}
                                  </p>
                                </div>
                              </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
    faqArrowAnimation();
  });
</script>
