<div class="msp-app">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center order-md-2">
                <img class="msp-app__img" src="{{ relURL "img/msp-app-animation2.png" }}">
            </div>
            <div class="col-md-4 msp-app-text">
                <h4>
                    Control over your payments <br/>
                    anytime and anywhere
                </h4>
                <p>
                    The MultiSafepay Control app comes with new features, fresh design and more control over your payments.
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 app-store-icon">
                                <a href="https://play.google.com/store/apps/details?id=com.multisafepay.control" target="_blank">
                                    <img src="{{ relURL "img/Google_Play_Store_Badge.svg" }}" />
                                </a>
                            </div>
                            <div class="col-6 app-store-icon">
                                <a href="https://apps.apple.com/app/multisafepay-control/id929955963" target="_blank">
                                    <img src="{{ relURL "img/Apple_App_Store_Badge.svg" }}" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>Download the MultiSafepay Control app on the App Store or Google Play</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>