<div class="msp-app">
  <div class="container">
    <div class="row">
      <div class="col-4 msp-app-text text-justify">
        <h4>
          Control over your payments <br />
          anytime and anywhere
        </h4>
        <p>
          The MultiSafepay Control App comes with new features, fresh design and
          more control over your payments.
        </p>
        <div class="row">
          <img class="col-6" src="{{ relURL "img/Google_Play_Store_Badge.svg" }}" />
          <img class="col-6" src="{{ relURL "img/Apple_App_Store_Badge.svg" }}" />
        </div>
        <p>Download the MultiSafepay Control app on the App Store or Google Play</p>
      </div>
      <div class="col-8 text-center">
          <img  class="msp-app__img"src="{{ relURL "img/msp-app-animation2.png" }}" >
      </div>
    </div>
  </div>
</div>
