<div style="text-align:center" class="container"> 

  <!--  CONTENT ELEMENT, uid:18691/fluidcontent_content [begin] -->
  <div id="c18691" class="csc-default">
    <div class="row">
      <div class="col-md-8 col-sm-8 "> 

        <!--  CONTENT ELEMENT, uid:18689/textpic [begin] -->
        <div id="c18689" class="csc-default"> 

          <!--  Image block: [begin] -->
          <div class="csc-textpic-text"> 
            <!--  Text: [begin] -->
            <h2>Control over your payments <br>
            anytime and anywhere</h2>
            <p>The MultiSafepay Control App comes with new features, fresh design and more control over your payments.</p>
            <!--  Text: [end] --> 
          </div>
          <!--  Image block: [end] --> 
        </div>
        <!--  CONTENT ELEMENT, uid:18689/textpic [end] --> 

        <!--  CONTENT ELEMENT, uid:18690/textmedia [begin] -->
        <div id="c18690" class="csc-default">
          <div id="c18690">
            <div class="ce-textpic ce-right ce-intext">
              <div class="ce-bodytext">
                <p><a href="https://itunes.apple.com/nl/app/multisafepay-control/id929955963" target="_blank"><img src="{{ relURL "img/appstore.png" }}" width="83" height="26" alt=""></a>&nbsp;<a href="https://play.google.com/store/apps/details?id=com.multisafepay.control" target="_blank"><img src="{{ relURL "img/googleplay.png" }}" width="83" height="26" alt=""></a> </p>
                <p><span class="detail">Download the MultiSafepay Control app on the App Store or Google Play.</span></p>
              </div>
            </div>
          </div>
        </div>
        <!--  CONTENT ELEMENT, uid:18690/textmedia [end] --> 

      </div>
      <div class="col-md-4 col-sm-4 "> 

        <!--  CONTENT ELEMENT, uid:18688/image [begin] -->
        <div id="c18688" class="csc-default app-phone"> 

          <!--  Image block: [begin] -->
          <div class="csc-textpic csc-textpic-center csc-textpic-above">
            <div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="2">
              <div class="csc-textpic-center-outer">
                <div class="csc-textpic-center-inner">
                  <figure class="csc-textpic-image csc-textpic-last"><img src="{{ relURL "img/msp-app-animation2.png" }}" width="339" height="515" alt=""></figure>
                </div>
              </div>
            </div>
          </div>
          <!--  Image block: [end] --> 
        </div>
        <!--  CONTENT ELEMENT, uid:18688/image [end] --> 

      </div>
    </div>
  </div>
  <!--  CONTENT ELEMENT, uid:18691/fluidcontent_content [end] --> 
</div>