<div class="pb-4 pt-2 border-bottom border-top">
  <div>
    <img class="mr-2 globe " src="/icons/edit.svg" width="20" /> Feedback
  </div>
  <section>
    <div class="pt-2">
      You're missing something out and would like us to fix it? Suggest an
      improvement to this page!
    </div>
    <div class="pt-4">
      <a
        target="_self"
        class="rounded p-2 border border-dark text-dark"
        href="https://github.com/MultiSafepay/docs/blob/master/content/{{ .File.Path }}"
        >Feedback</a
      >
    </div>
  </section>
</div>
