<div class="pb-4 pt-4 full-width">
    <div class="row content m-1 pt-2">
        <div class="col-12 text-nor pt-4 border-top">
            <p>
                <img class="mr-2 globe " src="/svgs/edit.svg" width="20" /> Feedback
            </p>
        </div>
    </div>

    <section id="Feedback" class="other-lang full-width">
        <div class="row content m-1">
            <div class="col-12 text-nor border-bottom">
                <p>Our documentation is open source.</p>
                <p class="my-4">
                    <a target="_self" class="rounded px-4 py-3 border border-dark text-dark"
                        href='https://github.com/MultiSafepay/docs/blob/master/content/{{ strings.TrimSuffix "_index.md" .File.Path }}'>Create issue in GitHub</a>
                </p>
            </div>
        </div>
    </section>
</div>