<div style="background-color: #f9f9f9;">
	<div class="container py-3 d-flex align-items-center justify-content-center">
		<div class="row ml-3">
            <div class="col-sm-2 my-auto">
                <img class="medium-img my-auto" style="max-height: 45px; width: auto;" src="/logo/Integrations/Logo-EXTDN.png">
            </div>
			<div class="col-sm-10 my-auto">
				<p class="my-auto ml-3">MultiSafepay is a proud member of <a href="https://extdn.org" target="blank">ExtDN</a><img src="/svgs/External-link-black.svg" class="mb-1 ml-2 mr-1" style="width: 1.2rem;height:auto" alt="external-link-icon">.</p>
			</div>
		</div>
	</div>
</div>
