
  <div class="container">
    <div class="row footer-list">
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Overview</h4></li>
          <li><a href="https://www.multisafepay.com/solutions/billingsuite-the-most-complete-offer-for-postpay/">Billingsuite</a></li>
          <li><a href="https://www.multisafepay.com/solutions/">Our Solutions</a></li>
          <li><a href="https://www.multisafepay.com/acquirer-and-processor/">Acquirer and Processor</a></li>
          <li><a href="https://www.multisafepay.com/pay-after-delivery/">Pay After Delivery</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Resources</h4></li>
          <li><a href="https://docs.multisafepay.com/guides/getting-started/">Getting started</a></li>
          <li><a href="https://www.multisafepay.com/support/">Support</a></li>
          <li><a href="https://testmerchant.multisafepay.com/signup">Open a test account</a></li>
          <li><a href="https://status.multisafepay.com/">Status page</a></li>
          <li><a href="https://github.com/MultiSafepay/docs/tree/master/content">GitHub</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">MultiSafepay</h4></li>
          <li><a href="https://www.multisafepay.com/clients/">Clients</a></li>
          <li><a href="https://www.multisafepay.com/business-partners/">Business partners</a></li>
          <li><a href="https://www.multisafepay.com/about-us/">About us</a></li>
          <li><a href="https://www.multisafepay.com/blog/">Blog</a></li>
          <li><a href="https://www.multisafepay.com/careers/">Careers</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <ul>
          <li><h4 class="footer-title-list">Contact</h4></li>
          <li><a href="https://www.multisafepay.com/contact/">Contact</a></li>
          <li><a href="https://www.multisafepay.com/newsletter-signup/" target="_blank">Newsletter signup</a></li>
        </ul>
      </div>
    </div>
  </div>