<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="https://multisafepay.com"
        ><img class="msp-logo-footer" src="{{ relURL "logo/MSP-logo.svg" }}"
        /></a
      >
    </div>
  </div>
</div>
