<div class="navbar-bright">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href="https://docs.multisafepay.com/"> <img src="{{ relURL "img/multisafepay-logo-white.svg" }}" alt="multisafepay"> </a> </div>
      <nav class="collapse navbar-collapse navbar-collapse-main" role="navigation">
        <div class="nav navbar-nav navbar-left">
          <ul>
            <li><a href="{{ relURL "integrations" }}">Integrations</a></li>
            <li><a href="{{ relURL "api" }}">API</a></li>
            <li><a href="{{ relURL "faq" }}">FAQ</a></li>
            <li><a href="{{ relURL "payment-methods" }}">Payment methods</a></li>
            <li><a href="{{ relURL "tools" }}">Tools</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="https://www.multisafepay.com/contact/merchant-support">Contact</a> </li>
          <li> <a class="nav-button" href="https://www.multisafepay.com/login/"><i class="fa fa-lock" aria-hidden="true"></i> Login</a> </li>
        </ul>
      </nav>
    </div>
  </div>