<div class="row mb-2">
    <div class="col-lg-4 px-5 mb-5 order-lg-2">
        <a href="{{ .Params.linktomarketing }}" class="row block-item p-3" target="_blank">
            <div class="media">
                <img src="{{ .Params.logo }}" class="img-fluid m-4" style="max-width:25px;height:auto" alt="{{ .Title }}" />
                <div class="media-body my-auto">
                    <p class="my-auto no-decoration m-4" style="font-size: 1.4rem">See how {{ .Params.title }} can help your business<img src="/svgs/External-link-black.svg" class="mb-1 ml-2 mr-1" style="width: 1.2rem;height:auto" alt="external-link-icon">.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-8 mb-2 order-lg-1">
        {{ .Params.intro_description }}
    </div>
</div>
