  {{ $.Scratch.Set "path" (print "/" .File.Path)  }}
<nav id="menu" class="mm-wrapper_sidebar-opened">
    <div id="panel-menu">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{if .HasChildren}}
                <li>
                    <span>
                        <a href="{{ .URL }}">
                            <i class="{{ .Pre }}" aria-hidden="true"></i>
                            {{ .Name }}
                        </a>
                    </span>
                    <ul>
                        {{range .Children}}
                        <li {{if in ($.Scratch.Get "path") .URL }}class="Selected"{{end}}><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{end}}
                    </ul>
                </li>
                {{else}}
                    <li>
                        <span>
                            <a href="{{ .URL }}">
                                <i class="{{ .Pre }}" aria-hidden="true"></i>
                                {{ .Name }}
                            </a>
                        </span>
                        {{ if and (eq $currentPage.Title "API") (eq .Name "API") }}
                            <ul>
                                <li {{if in ($.Scratch.Get "path") .URL }}class="Selected"{{end}}>
                                </li>
                            </ul>
                        {{ end }}
                    </li>    
                {{end}}
            {{ end }}
        </ul>     
    </div>
    <ul id="search-results">
        <!-- insert ajax result here -->
    </ul> 
</nav>

<!-- Fire the plugin -->
<script>

    let menu = new Mmenu('#menu',
        {
            extensions: [
                'theme-white',
                'pagedim-black'
            ],
            iconPanels: {
                    add: true,
                    visible: "first"
            },
            setSelected: {
                    hover: !0,
                    parent: !0
                },
            counters: false,
            sidebar: {
                    collapsed: 990,
                    expanded: 1439
                },
            navbars: [
                {
                    position: "top",
                    content: [
                        '<a class="navbar-brand" href="/"><img src="/logo/MSP-Docs_logo.svg"></a>'
                    ]
                },
                {
                    position: "top",
                    content: [
                        "searchfield"
                    ]
                },
                {
                    content: ['prev', 'breadcrumbs']
                },
                {
                    position: 'bottom',
                    content: ['<div class="menu-buttons"><a href="https://www.multisafepay.com/contact" class="outline bg-white text-dark" >Contact</a><a href="https://www.multisafepay.com/login/" class="primary text-white"><img class=signup src="/icons/Login.svg"></img>Sign up</a></div>']
                },
            ],
            searchfield: {
                clear: true,
                search: false,
                showTextItems: true,
                placeholder: "Search documentation..."
		    }
        },
        {
            navbars: {
                breadcrumbs: {
                    removeFirst: true
                }
            }
        }
    ).API;

window.onload = () => {
    let t = $("#hamburger").children(".mburger");
    menu.bind("close:finish", function() {
            setTimeout(function() {
                t.attr("href", "#menu")
                }, 100)
            }),
    menu.bind("open:finish", function() {
        setTimeout(function() {
            t.attr("href", "#page")
        }, 100)
    })
};
</script>