<div id ="page">
        <nav id="menu">
                <div id="panel-menu">
                    <ul>
                        <li><a href="#/"><i class="fa fa-plug fa-lg" aria-hidden="true"></i> Integrations</a></li>
                        <li><span><i class="fa fa-code fa-lg" aria-hidden="true"></i>
                             API</span>
                            <ul>
                                <li><a href="#/">History</a></li>
                                <li><span>The team</span>
                                    <ul>
                                        <li><a href="#/">Management</a></li>
                                        <li><a href="#/">Sales</a></li>
                                        <li><a href="#/">Development</a></li>
                                    </ul>
                                </li>
                                <li><a href="#/">Our address</a></li>
                            </ul>
                        </li>
                        <li><a href="#/"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i> FAQ</a></li>
                        <li><a href="default.html"><i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                             Payment Methods</a></li>
                        <li><a href="onepage.html"><i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                             Tools</a></li>
                        <li><a href="onepage.html"><i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                             Popular</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <script src="{{ .Site.BaseURL }}js/mmenu.js"></script>
<!-- Fire the plugin -->
<script>
        new Mmenu(
            document.querySelector('#menu'),
            {
                extensions	: [ 'theme-white'],
                setSelected	: true,
                counters	: false,
                sidebar: {
                collapsed: 550,
                expanded: 700
            },
                navbars		: [
                    
                {
             "position": "top",
             "content": [
             '<a class="navbar-brand" href="#"><img width="300" src="/logo/MSP-Docs_logo.svg"></a>'
             ]
          }
          ,
                    {
                        "content"		:   {{ partial "search_form" . }}
                    },
                    {
                        content		: [ 'prev', 'breadcrumbs' ]
                    },
                    {
                        position	: 'bottom',
                        content		: [ '<button class="button outline" type="button">Contact</button>',
                    '<button class="button primary" type="button">Sign up</button>' ]
                    },
                    
                ]
            },
            {
    navbars		: {
        breadcrumbs	: {
            removeFirst	: true
        }
    }
}
        );
        document.addEventListener( 'click', function( evnt ) {
            var anchor = evnt.target.closest( 'a[href^="#/"]' );
            if ( anchor ) {
                alert('Thank you for clicking, but that\'s a demo link.');
                evnt.preventDefault();
            }
        });
    </script>
</body>
</html>