<div class="newsletter">
  <div class="container d-flex align-items-center justify-content-center">
      <form action="https://multisafepay.us9.list-manage.com/subscribe/post?u=cf22dbb99cb320b3012cdf528&amp;id=881dc78158" method="post" target="_blank" novalidate>
        <div class="d-none">
            {{ if eq .title "Magento 1" }}
                <ul><li><input checked type="checkbox" value="1" name="group[25][1]" id="mce-group[25]-25-0"><label for="mce-group[25]-25-0">Magento 1</label></li>
            {{else}}
                <ul><li><input type="checkbox" value="1" name="group[25][1]" id="mce-group[25]-25-0"><label for="mce-group[25]-25-0">Magento 1</label></li>
            {{ end }}
            {{ if eq .title "Magento 2" }}
            <li><input checked type="checkbox" value="2" name="group[25][2]" id="mce-group[25]-25-1"><label for="mce-group[25]-25-1">Magento 2</label></li>
            {{else}}
            <li><input type="checkbox" value="2" name="group[25][2]" id="mce-group[25]-25-1"><label for="mce-group[25]-25-1">Magento 2</label></li>
            {{ end }}
            {{ if eq .title "Shopify" }}
            <li><input checked type="checkbox" value="8" name="group[25][8]" id="mce-group[25]-25-2"><label for="mce-group[25]-25-2">Shopify</label></li>
            {{else}}
            <li><input type="checkbox" value="8" name="group[25][8]" id="mce-group[25]-25-2"><label for="mce-group[25]-25-2">Shopify</label></li>
            {{ end }}
            {{ if eq .title "Shopware" }}
            <li><input checked type="checkbox" value="16" name="group[25][16]" id="mce-group[25]-25-3"><label for="mce-group[25]-25-3">Shopware</label></li>
            {{else}}
            <li><input type="checkbox" value="16" name="group[25][16]" id="mce-group[25]-25-3"><label for="mce-group[25]-25-3">Shopware</label></li>
            {{ end }}
            </ul>
            </div>
      <div class="row">
        <div class="col-2">
          <img src="/svgs/Newsletter.svg" />
        </div>
        <div class="newsletter-text col-10">
          <h3 class="text-white">{{.title}}</h3>
          <p class="text-white">
            Subscribe to our {{.title}} newsletter to stay updated about our
            latest releases and news
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-inline col-md-10 offset-md-2 pt-2">
          <input type="email" value="" name="EMAIL" class="form-control newsletter-input"  placeholder="Enter your email address">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary">
        </div>
      </div>
    </form>
  </div>
</div>
