<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 80%; padding:10px 0 10px 25% }
	@media only screen and (max-width: 960px){
        #mc_embed_signup{
        width: 100%;
        padding: 0;
        margin: 0;
        }  
    }
</style>
<div id="mc_embed_signup">
<form action="https://multisafepay.us9.list-manage.com/subscribe/post?u=cf22dbb99cb320b3012cdf528&amp;id=881dc78158" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Receive plugin updates on {{ .title}}</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group hide ">
    <strong>Select the integration solution </strong>
{{ if eq .title "Magento 1" }}
    <ul><li><input checked type="checkbox" value="1" name="group[25][1]" id="mce-group[25]-25-0"><label for="mce-group[25]-25-0">Magento 1</label></li>
{{else}}
    <ul><li><input type="checkbox" value="1" name="group[25][1]" id="mce-group[25]-25-0"><label for="mce-group[25]-25-0">Magento 1</label></li>
{{ end }}
{{ if eq .title "Magento 2" }}
<li><input checked type="checkbox" value="2" name="group[25][2]" id="mce-group[25]-25-1"><label for="mce-group[25]-25-1">Magento 2</label></li>
{{else}}
<li><input type="checkbox" value="2" name="group[25][2]" id="mce-group[25]-25-1"><label for="mce-group[25]-25-1">Magento 2</label></li>
{{ end }}
{{ if eq .title "Shopify" }}
<li><input checked type="checkbox" value="8" name="group[25][8]" id="mce-group[25]-25-2"><label for="mce-group[25]-25-2">Shopify</label></li>
{{else}}
<li><input type="checkbox" value="8" name="group[25][8]" id="mce-group[25]-25-2"><label for="mce-group[25]-25-2">Shopify</label></li>
{{ end }}
{{ if eq .title "Shopware" }}
<li><input checked type="checkbox" value="16" name="group[25][16]" id="mce-group[25]-25-3"><label for="mce-group[25]-25-3">Shopware</label></li>
{{else}}
<li><input type="checkbox" value="16" name="group[25][16]" id="mce-group[25]-25-3"><label for="mce-group[25]-25-3">Shopware</label></li>
{{ end }}
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cf22dbb99cb320b3012cdf528_881dc78158" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->