<div class="newsletter">
  <div class="container d-flex align-items-center justify-content-center">
    <form>
      <div class="row">
        <div class="col-2">
          <img src="/icons/Newsletter.svg" />
        </div>
        <div class="newsletter-text col-10">
          <h3 class="text-white">{{.title}}</h3>
          <p class="text-white text-justify">
            Subscribe to our {{.title}} newsletter to stay updated about our
            latest releases and news
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-inline col-10 offset-md-2">
          <input
            class="form-control newsletter-input"
            placeholder="Enter your email address"
          />
          <button type="submit" class="primary">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>
