<section id="section-navigation">
    <div class="container pt-5 pb-5">
        <div class="d-flex flex-wrap">
          {{ if .Next }}
          {{ with .Next }}	
          <a href="{{.Permalink}}" class="row block-item my-3 mx-2 p-4 col-lg">
            <div class="col-3 d-flex align-items-center">
              <img src="/svgs/arrow-thin-left.svg" class="img-fluid my-auto" alt="arrow-left">
            </div>
            <div class="col-9">
              <p class="text-muted text-uppercase" style="font-size: 1.5rem;">Previous</p>
              <p class="h3 mt-n3">{{ .Param "breadcrumb_title" }}</p>
            </div>
          </a> 
          {{ end }}
          {{ end }}
          {{ if .Prev }}
          {{ with .Prev }}	
            <a href="{{.Permalink}}" class="row block-item my-3 mx-2 p-4 col-lg">
              <div class="col-9">
                <p class="text-muted text-uppercase" style="font-size: 1.5rem;">Next</p>
                <p class="h3 mt-n3">{{ .Param "breadcrumb_title" }}</p>
              </div>
              <div class="col-3 d-flex align-items-center">
                <img src="/svgs/arrow-thin-right.svg" class="img-fluid my-auto" alt="arrow-right">
              </div>
            </a>
          {{ end }}
          {{ end }}
          </div>
    </div>
</section>