<section id="FAQ">
        <div class="container pt-5 pb-5">
            <h3>FAQ</h3>
            <div id="accordion" class="row">
            {{range .Sections}}
                {{ range .Pages}}
                    <div class="col-lg-6 pb-4">
                        <div class="block-faq py-3 px-4">
                            <div id="heading-{{ .Title | urlize}}">
                                <div class="mb-0 faq-title-block" data-toggle="collapse" data-target="#{{ .Title | urlize}}" aria-expanded="true"
                                    aria-controls="{{ .Title | urlize}}">
                                    <img class="faq-svg" src="/icons/Arrow.svg" />
                                    <b class="px-3">{{ .Title }}</b>
                                </div>
                            </div>
                        
                            <div id="{{ .Title | urlize}}" class="collapse faq-content" aria-labelledby="heading-{{ .Title | urlize}}"
                                data-parent="#accordion">
                                <div class="mx-3 line"></div>
                                <div class="p-3">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{end}}
            </div>
        </div>
    </section>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
    faqArrowAnimation();
  });
</script>

    