<section id="subsections">
    <div class="container bt-5 bp-5">
        <div class="row">
            <div class="col-md-9">
                <div class="row pt-4">
                    {{ range .Pages }}
                        <div class="col-lg-12 pb-4 px-5">
                            <div class="row block-item p-4">
                                <a href="{{ .Permalink }}" class="no-decoration">
                                    <div class="block-item__title">
                                        <h4 class="">{{ .Params.breadcrumb_title }}</h4>
                                        <p>{{ .Params.short_description }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
