<section id="whats-new-block" class="row pb-5 pt-4">
    <div class="col-md-12 pb-4">
        <h2 class="whats-new-header pb-4">What's new?</h2>
    </div>
    <div class="col-md-6 pb-4">
        <img class="whats-new-image" src="/svgs/PSD2.svg" alt="PSD 2 Logo">
    </div>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            PSD2 Update
        </h3>
        <p class="pb-2">
            <a href="/faq/payment-regulations/payment-service-directive-2">Payment Service Directive 2</a> (PSD2) is a set of laws and regulations etablished by the European Banking Authority.
            PSD2 aims to improve the security of online payments within Europe.
        </p>
        <p>    
            One of the requirements of PSD2 is the use of <a href="/faq/payment-regulations/strong-customer-authentication">Strong Customer Authentication</a>
             (SCA). This requirement ensures that online payments are performed with 
            Two Factor Authentication (2FA). One of the protocols used to meet this requirement is called <a href="/faq/payment-regulations/3d-secure">3D Secure</a> (3DS).
       
        </p>
        <p>
            Starting January 1st 2021, the SCA requirement will officially be enforced.
            Please read <a href="https://www.multisafepay.com/blog/understanding-strong-customer-authentication">our blog</a> for
            more information on Strong Customer Authentication and what it means for your business.
        </p>
    </div>
</section>
