<section id="whats-new-block" class="row pb-5 pt-4">
    <div class="col-md-12 pb-4">
      <h2 class="whats-new-header pb-4">What's new</h2>
    </div>
    <hr>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            Recent changes
        </h3>
       <table>
            <tbody>
            {{ range first 10 site.Data.changelog.entries }}
            <tr>
                <td style="width: 125px; padding-bottom: 1rem; float:inline-start" ><b>{{ .date}}</b></td>
                <td style="padding-bottom: 1rem;">{{.change | markdownify }}</td>
            </tr>
            {{ end }}
        </tbody>
        </table>
    

    </div>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            PSD2 update
        </h3>
        <p class="pb-2">
            The <a href="/faq/payment-regulations/payment-service-directive-2">Payment Service Directive 2</a> (PSD2) is a set of laws and regulations established by the European Banking Authority.
            It aims to increase the security of online payments within Europe.
        </p>
        <p>    
            PSD2 requires <a href="/faq/payment-regulations/strong-customer-authentication">Strong Customer Authentication</a>
             (SCA) to ensure that online payments use 
            Two Factor Authentication (2FA). One of the protocols we use to meet this requirement is <a href="/faq/payment-regulations/3d-secure">3D Secure</a> (3DS).
       
        </p>
        <p>
            For more information about SCA and what it means for your business, check out <a href="https://www.multisafepay.com/blog/understanding-strong-customer-authentication">our blog</a>.
        </p>
    </div>
</section>
