<section id="whats-new-block" class="row pb-5 pt-4">
    <div class="col-md-12 pb-4">
        <h2 class="whats-new-header pb-4">What's new?</h2>
    </div>
    <div class="col-md-6 pb-4">
        <img class="whats-new-image" src="/img/mage_one_partner.png" alt="Mage One partener logo">
    </div>
    <div class="col-md-6 pb-4">
        <h3 class="pb-2">
            Mage One
        </h3>
        <p class="pb-2">
            Magento 1 will reach end of life soon. If you are still running Magento 1, action is required.
            MultiSafepay has partnered with Mage One to continue supporting Magento 1 in the future.
        </p>
        <p>
            Please read our <a href="https://www.multisafepay.com/blog/magento-1-the-final-weeks/">blog</a> for
            more information and the actions to take.
        </p>
    </div>
</section>