{{ define "main"}}
{{ if .IsHome }}
    {{ partial "header" .}}
{{ end }}
<div class="header-background-home">
    <div>
        <div class="container">
            <h1 class="header__title">{{ .Title }}</h1>
            <hr class="separator">
            <p class="text-white">Find out everything you need to know from Integration to Frequently Asked Questions.</p>
            {{ partial "search_form" . }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 pt-3">    
            <div class="alert alert-homepage" role="alert">
                <p>On January 22nd at 09:00 (GMT+1) MultiSafepay will update its SSL certificate to guarantee the safety of our infrastructure and communication. </p>
                <p>
                    In general, this update should not affect your systems or payment processing of transactions. As we take all the measures to ensure that the updates and maintenance will not disrupt server communication, we expect websites integrating our payment platform not to be affected.
                    If any issues occurs, please contact us at <a href="integration@multisafepay.com">integration@multisafepay.com</a>
                </p>
                <div class="pb-3">
                    <a class="button" href="/faq/general/ssl-certificate-update/"> Read more </a>
                </div>
            </div>
        </div>
    </div>
    {{ partial "blocklist" . }}
</div>
<div>
    {{ partial "call_to_action" . }}
</div>
{{ end }}