{{ define "main"}}
{{ if .IsHome }}
    {{ partial "header" .}}
{{ end }}
<div class="header-background-home" style="max-height: 400px;">
    <div>
        <div class="container">
            <h1 class="header__title">{{ .Title }}</h1>
            <p class="text-white pt-2">Explore our products and services. Build and test your payments integration.</p>
            {{ partial "search_form" . }}
        </div>
    </div>
</div>
<div class="container">
    {{ partial "blocklist" . }}
</div>
<div class="container">
    {{ if  .IsHome }}
        {{ partial "whats-new" . }}
    {{end}}
</div>
<div>
    {{ partial "call_to_action" . }}
</div>
{{ end }}
