<p>This manual helps merchants to process MultiSafepay payments as quickly as possible from a {{.Get 0}} webshop.
    If you have any questions about your MultiSafepay Control account, please contact us.</p>

<ul>
    <li>Telephone <a href="tel:+31208500500">+31 (0)20 - 8500500</a></li>
    <li>E-mail <a href="mailto:integration@multisafepay.com">integration@multisafepay.com</a></li>
</ul>

<p>To use the plugin you need a MultiSafepay Control account. You can create a test account on <a href="https://testmerchant.multisafepay.com/signup">https://testmerchant.multisafepay.com/signup</a><br>
If you would like to set up a live account, please contact the MultiSafepay sales department:</p>

<ul>
    <li>Telephone <a href="tel:+31208500501">+31 (0)20 - 8500501</a></li>
    <li>E-mail <a href="mailto:sales@multisafepay.com">sales@multisafepay.com</a></li>
</ul>
