<p>This manual helps merchants to process MultiSafepay payments as quickly as possible from a {{.Get 0}} webshop. For some steps in this manual, assistance from your technical partner may be required.</p>

<p>We recommend you to install the app first on a test environment, and make sure you have made a backup.</p>

<p>We advise you to install the app through the recommended ways of the specific webshop system.</p>

<p>If you need any technical help, please contact us.</p>

<ul>
    <li>Telephone <a href="tel:+31208500500">+31 (0)20 - 8500500</a></li>
    <li>E-mail <a href="mailto:integration@multisafepay.com">integration@multisafepay.com</a></li>
    <li>Create a technical <a href="https://github.com/MultiSafepay">GitHub issue</a></li>
</ul>

<p>To use the app you need a MultiSafepay account. You can create a test account on <a href="https://testmerchant.multisafepay.com/signup">https://testmerchant.multisafepay.com/signup</a><br>
If you would like to set up a live account, please contact the MultiSafepay sales department:</p>

<ul>
    <li>Telephone <a href="tel:+31208500501">+31 (0)20 - 8500501</a></li>
    <li>E-mail <a href="mailto:sales@multisafepay.com">sales@multisafepay.com</a></li>
</ul>
