<div {{if isset .Params "align"}}align="{{ index .Params "align" }}"{{end}} style="position:relative">
	<style>
        .mobile {display: none;}

        @media screen and (max-width: 991px){
            .large {display: none;}
            .mobile{display: block;}
        }
    </style>
	<img class="large" src="{{ .Get "src" }}.svg" alt="{{ .Get "alt" }}" style="width: 100%; height: auto;">
	<img class="mobile" src="{{ .Get "src" }}_mobile.svg" alt="{{ .Get "alt" }}" style="width: 100%; height: auto;">
</div>