<a href="javascript:void(0)" class="img-zoomable" onclick="selectImgZoom(this)">
    <img {{ with .Get "class"}} class="{{.}}"{{ end }} {{ with .Get "height"}} height="{{.}}"{{ end }} {{ with .Get "width"}} width="{{.}}"{{ end }} src="{{ .Get "url"}}" title="{{ .Get "title"}}">
</a>



<script type="text/javascript">
	function selectImgZoom(item) {
		if($(window).width() >640) {
			if($(item).hasClass('selected')){
				$(item).toggleClass('selected');
			}
			else{
				$('.img-zoomable').removeClass('selected');
				$(item).addClass('selected')
			}
		}

		$(window).scroll(function(){
    		 $('.img-zoomable').removeClass('selected');
		});
	}	
</script>

