{{ define "main"}}
<div class="container-fluid">
  <div class="row">
    {{ $tiles := .Params.plugins }} {{ range $section := $tiles }}
    <div class="col-6 ">
      <div class="row border m-2 p-2">
        <div class="col-8">
          <h3>{{ $section.title }}</h3>
          <p>lorem ipsum</p>
          <a href="{{ . }}">more info</a>
          <a href="{{ . }}">download</a>
        </div>
        <div class="col-4">
          {{ with $section.logo }}
          <img src="{{ . }}" width="190c" class="fa fa-{{ . }}" />
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
