{{ define "main"}}
  <div class="container">
    <div class="row">
    {{ partial "toc" .}}
      <div class="col-8">
          <h1>{{ .Title}}</h1>
          <hr class="separator">
      </div>
     <div class="col-4">
          <p>image</p>
      </div>
    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
    </div>
{{ end }}
